* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    background: #f4f6f9;
    color: #333;
}


.container {
    width: 90%;
    margin: auto;
    padding: 50px;
    text-align: justify;
    
}


.navbar {
    background: #1e293b;
    color: white;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
}
nav{
    text-align:justify;
}
.navbar a {
    color: #fff;
    text-decoration: none;
    margin-left: 25px;
}


.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
}

.card h3 {
    margin-bottom: 10px;
    color: #1e293b;
}

.stat {
    font-size: 28px;
    font-weight: bold;
}


button {
    padding: 8px 14px;
    border: none;
    border-radius: 6px;
    background: #2563eb;
    color: white;
    cursor: pointer;
}

button:hover {
    background: #1d4ed8;
}


input, select {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
    border-radius: 6px;
    border: 1px solid #ccc;
}
